html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

 /* This is the default font that every system has */
body { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
}

/* ^ Everything above is what Sean uses for every piece of CSS he creates. Good practice. ^ */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

.wrapper h1,
.wrapper h2,
.wrapper p {
    width: 100%;
}


.modal__overlay {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
}

.modal__overlay.visible {
    display: flex;
}

.modal__content {
    background-color: white;
    display: block;
    margin: auto;
    position: relative;
    padding: 16px;
    height: 300px;
    width: 600px;
    border-radius: 8px;
}

button.modal__close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 8px;
    border: none;

}